@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
  margin-bottom: 16px;
  align-items: center;
}

.navlinks {
  display: flex;
  list-style: none;
  gap: 32px;
}

.navlinks li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
}

#nav-btn {
  color: white;
  background-color: #30b868;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  padding: 12.5px 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

.banner-container {
  background-image: url("../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  min-height: 100vh;
  max-width: 100%;
}

.banner-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  text-align: center;
  padding: 0 16px;
}

#early-access-btn {
  width: 229px;
  height: 35px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  margin-bottom: 16px;

}

.banner-heading{
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 16px;
}

span {
  color: rgba(48, 184, 104, 1);
}

.banner-description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
  color: white;
}


.banner-start-btn{
    width: 251px;
    height: 52px;
    border-radius: 4px;
    border: none;
    background-color: #30B868;
    color: white;
    cursor: pointer;
    margin-right: 8px;
}

.banner-see-btn{
    width: 251px;
    height: 52px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    margin-left: 8px;
}

.notes-title{
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 64px;
}

.notes-details{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 44px;
    color: #627382;
}

.notes-cards{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.notes-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 322px;
    border-radius: 10px;
    height: 300px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 40px;
    margin-top: 2px;
}

.notes-card img{
    background-color: #F95555;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 40px;
    width: 60px;
    height: 60px;
}

.notes-card h3{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
}

.notes-card p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-right:24px ;
    margin-left:24px ;
}

.second-brain-details{
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-brain-text{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

h6{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    color: #30B868;
}

.second-brain-text-title{
    margin-bottom: 16px;
}

.second-brain-text-description{
    width: 500px;
    margin-bottom: 40px;
}

.second-brain-text ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.early-access-details{
  background-color: rgba(247, 246, 242, 1);
  text-align: center;
  margin: 120px 120px 0px 120px;
  border-radius: 20px;
  padding: 100px;
}

.early-access-details h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}

.early-access-details p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 24px;
}

.early-access-details button{
    width: 194px;
    height: 52px;
    border-radius: 4px;
    border: none;
    background-color: #30B868;
    color: white;
    cursor: pointer;
    margin-bottom: 16px;
}

footer{
  background-color: rgba(0, 25, 49, 1);
  margin-top: 120px;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 120px;
    color: white;
}

footer h1{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.social-icons img{
    width: 20px;
    height: 20px;
    margin-right: 16px;
    cursor: pointer;
}

.footer-text{
  text-align: center;
  border-top: 1px solid #E0E0E0;
  padding-top: 30px;

  color: white;
  font-size: 16px;
  font-weight: 400;
  margin: 80px 120px 30px 120px ;
}